
.about ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    gap: 20px;
    z-index: 1;
}

.about ul li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.about ul li img {
    max-width: 80px;
    flex: none;
    margin: 0 auto auto auto;
}

.about {
    text-align: center;
    margin-top: 110px;
}

.about ul li p{
    max-width: 160px;
    margin: 12px auto auto auto;
}

.district{
    opacity: 1;
}

.district.active {
    animation-name: bench;
    animation-duration: 1s;
}

/*Зум анимация иконок*/
@keyframes bench {
    0% {
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -o-transform: scale(0.1);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        opacity: 1;
    }

}