.about ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    gap: 20px;

}

.about ul li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}


.about {
    text-align: center;
    margin-top: 90px;
}