.about ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    gap: 20px;
}

.about ul li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.about ul li img {
    max-width: 80px;
    flex: none;
    margin: 0 auto auto auto;
}

.about {
    text-align: center;
    margin-top: 90px;
}

.about ul li p{
    max-width: 160px;
    margin: 12px auto auto auto;
}