.footer {
    background: #2D343C;
    width: 100%;
    margin-top: 70px;
    padding-top: 20px;
}


#footerLogoBlock {
    margin-left: 10%;
    text-align: left;
}


#footerMenus {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 20px;
}

.footer a {
    color: #FFFFFF;
}


.footer ul li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    padding: 5px;
    text-align: left;

    color: #FFFFFF;
}

.footer a:hover {
    color: #D4C17F;
}


#footerMenu1 {
    margin-left: 20%;
}


.footer div ul li b a {
    color: #D4C17F;
}

#footerMenu3 img {
    padding: 2px;
}



.footer li a:hover {
    color: #D4C17F;
}


.footer li a{
    position: relative;
    text-decoration: none;
}

.footer a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    padding-top: 1px;
    background: #D4C17F;
    left: 0;
    bottom: 0;
    transition: .5s;
    transform: scale(0);
    transform-origin: left;
}

.footer a:hover:before {
    transform: scale(1);
}