.place {
    padding-top: 20px;
}

.yandexMap {
    text-align: center;
    opacity: 0;
}

.place p {
    text-align: left;
    padding-left: 10%;

    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;

    color: #D4C17F;
}

/*Map animation*/

.yandexMap.active {
    animation-name: mapAnim;
    animation-duration: 1.5s;
    opacity: 1;
}

@keyframes mapAnim {
    0% {
        width: 10%;
        opacity: 0;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}